@charset "utf-8";

@font-face {
    font-family: 'NanumSquareOTF';
    font-weight: 400;
    src: url('/resources/font/NanumSquareL.otf') format('opentype');
}

@font-face {
    font-family: 'NanumSquareOTF';
    font-weight: 500;
    src: url('/resources/font/NanumSquareR.otf') format('opentype');
}

@font-face {
    font-family: 'NanumSquareOTF';
    font-weight: 700;
    src: url('/resources/font/NanumSquareB.otf') format('opentype');
}

@font-face {
    font-family: 'NanumSquareOTF';
    font-weight: 800;
    src: url('/resources/font/NanumSquareEB.otf') format('opentype');
}

html,
body,
div,
p,
label,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
input,
textarea,
button,
img,
figure {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-style: normal;
    font-family: 'NanumSquareOTF', sans-serif;
}

body a {
    text-decoration: none;
    height: inherit;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

a,
button {
    cursor: pointer;
    background-color: unset;
    color: inherit;
}

.header {
    display: flex;
    width: auto;
    min-width: 100%;
    height: 80px;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: #fff;
    background: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

.header .top_line {
    height: 1px;
    width: 100%;
    position: absolute;
    top: 80px;
    background-color: #D9D9D9;
}

.logo {
    display: flex;
    gap: 10px;
    min-width: 265px;
    margin: 26px 0 26px 50px;
    height: 28px;
    cursor: pointer;
}

.logo img {
    width: 195px;
    height: 28px;
}

.logo-text {
    color: #D52D26;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    height: 28px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    width: 100%;
    min-width: 835px;
    max-width: 1200px;
    margin-top: 26px;
}

.menu-item {
    color: #222;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.2px;
    min-width: 120px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.menu-item:not(:first-child)::before {
    content: "";
    width: 1px;
    align-self: stretch;
    background: #DDD;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 26px;
}

.sub-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    text-align: left;
    position: absolute;
    top: 84px;
    word-break: break-all;
    padding-right: 10px;
}


.menu-item:not(:first-child) .sub-menu:not(:first-child)::before {
    content: "";
    width: 1px;
    align-self: stretch;
    background: #DDD;
    position: absolute;
    left: -10px;
    top: 0;
    height: 250px;
}

.sub-menu-item {
    color: #222222;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.sub-menu-item:hover,
.sub-sub-menu-item:hover,
.menu-item:hover {
    color: #C0010E;
}

.sub-sub-menu {
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    background: #F4F4F4;
    margin-top: 12px;
}

.sub-sub-menu-item {
    color: #222;
    font-family: HyundaiSans Text KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.header .department,
.header .user {
    display: flex;
}

.header .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #C6D4DE;
    margin-right: 8px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    min-width: 302px;
    margin: 26px 20px 26px 0;
    height: 28px;
}

.user-container div+div {
    margin-left: 10px;
}

.department .icon img {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.user .icon img {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.text {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}



.body-container {
    display: flex;
    gap: 70px;
    margin: 0 auto;
    padding: 0;
    min-width: 1600px;
    box-sizing: border-box;
    margin-top: 80px;
    justify-content: center;
}

.left-section {
    width: 340px;
    flex-shrink: 0;
}

.right-section {
    width: 990px;
    flex-shrink: 0;
}



.welcome-text {
    color: #222;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.2px;
    margin-top: 80px;
}




.status-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    margin-top: 80px;
    width: 100%;
}

.status-container .status-item {
    display: flex;
    padding: 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 20px;
    background: #8286AD;
    width: calc(100% /3);
    height: 360px;
    box-sizing: border-box;
}

.status-container .status-item:nth-child(2) {
    background: #7D95FA;
}

.status-container .status-item:nth-child(3) {
    background: #FFB7B7;
}

.status-container .status-item .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
}

.status-container .status-item .content .status-title {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    height: 32px;
}

.status-container .status-item .content .status-title .status-text {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.status-container .status-item:nth-child(3) .content .status-title .status-text,
.status-container .status-item:nth-child(3) .content .status-details .status-info .sub-text,
.status-container .status-item:nth-child(3) .content .status-details .status-info .sub-number {
    color: #000;
}

.status-item .content .status-title img {
    width: 32px;
    height: 32px;
}

.status-item .content .status-details {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.status-item .content .status-details:not(:first-child) {
    gap: 20px;
    align-items: normal;
}

.status-item .content .status-details .status-info {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 68px;
}

.status-item .content .status-details .status-info .icon-content {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: 10px;
    background: #6C70A1;
}

.status-item:nth-child(2) .content .status-details .status-info .icon-content {
    background: #637BDF;
}

.status-item:nth-child(3) .content .status-details .status-info .icon-content {
    background: #E58888;
}

.status-item .content .status-details .status-info .icon-content img {
    width: 24px;
    height: 24px;
}

.status-item .content .status-details .status-info .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.status-item .content .status-details .status-info .text-content .sub-text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.2px;
}

.status-item .content .status-details .status-info .text-content .sub-number {
    color: #FFF;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.2px;
}

.status-item .date-text {
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
}



.quick-menu {
    margin-top: 82px;
}

.quick-menu-title {
    color: #222;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
    text-align: left;
}

.quick-menu-items {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.quick-menu-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.quick-menu-item {
    display: flex;
    width: 160px;
    height: 150px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    border: 1px solid #D5E0F1;
}

.quick-menu-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 45px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-menu-icon img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.quick-menu-status {
    display: flex;
    padding: 2px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 2px;

}

.status-text {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.012px;
}

.quick-menu-status.status-blue {
    border: 1px solid #287EFF;
}

.quick-menu-status.status-blue .status-text {
    color: #287EFF;
}

.quick-menu-status.status-grey {
    border: 1px solid #8B8B8B;
}

.quick-menu-status.status-grey .status-text {
    color: #757575;
}

.quick-menu-status.status-red {
    border: 1px solid #FF5858;
}

.quick-menu-status.status-red .status-text {
    color: #FF5858;
}

.quick-menu .status-info {
    color: #222;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.2px;
}


.notice-banner-container {
    display: flex;
    gap: 69.18px;
    margin-top: 70px;
}

.notice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.notice .title {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.notice .title h2 {
    color: #222;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.notice .badge {
    display: flex;
    width: 480px;
    align-items: center;
}

.notice .badge .line {
    height: 1px;
    flex: 1 0 0;
    background: #C3D2EA;
}

.notice .badge .button {
    display: flex;
    padding: 8px 10px 8px 12px;
    flex-direction: row;
    align-items: flex-start;
    gap: 2px;
    border-radius: 100px;
    border: 1px solid #C3D2EA;
    background-color: unset;
    align-items: center;
    width: 69px;
}

.notice .badge .button .more-text {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
}

.notice .badge .button img {
    width: 12px;
    height: 12px;
}


.notice .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.notice .list .post {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

.notice .list .line {
    height: 1px;
    align-self: stretch;
    background: #EBEBEB;
}

.notice .list .post .post-status {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
     width: 50px;
    height: 30px;
    margin-right: 10px;
}

.notice .list .post .post-status .post-status-text {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.013px;
}

.notice .list .post .post-status.post-status-blue {
    background: #E6F2FF;
}

.notice .list .post .post-status.post-status-blue .post-status-text {
    color: #287EFF;
}

.notice .list .post .post-status.post-status-red {
    background: #FFEFEE;
}

.notice .list .post .post-status.post-status-red .post-status-text {
    color: #F00;
}

.notice .list .post .post-title {
    color: #222;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 294px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice .list .post .post-info {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.notice .list .post .post-info .post-date::before {
    content: '|';
    color: #DDD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0 5px;
}


.banner {
	margin-left: 40px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}


.banner-container {
    display: flex;
    width: 380px;
    padding: 20px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.banner .banner-container .content {
    display: flex;
    align-items: center;
    gap: 28px;
    border-radius: 30px;
    flex-direction: row;
}

.banner .banner-container .content .icon {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    border-radius: 10px;
    background: #ECF8FF;
}

.banner .banner-container .content .icon-image {
    width: 36px;
    height: 36px;
}

.banner .banner-container .content .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.banner .banner-container .content .text .title .sub-title {
    color: #222;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.2px;
}

.banner .banner-container .content .text .title {
    color: #222;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.2px;
}

.banner .banner-container .content .details {
    color: rgba(34, 34, 34, 0.40);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.2px;
}



.footer {
    height: 50px;
    background: #3A3A3A;
    margin-top: 112px;
    min-width: 1600px;
}

.footer .footer-text {
    color: #FFF;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year, .mtz-monthpicker-year{
	font-size: 15px !important;
}
